@import 'Variables.scss';

.project-info-body {
  & > div > h3 {
    margin: nth($sizes, 4) 0;
  }
  & > div > div > p > span {
    font-family: $boldFont;
    color: $primaryColor;
  }
  & > div > div > p > span:last-child {
    padding-right: 0px;
  }
  .project-images {
    & > a {
      @extend .ma-2;
      @extend .border-radius-4;
      width: 48%;
      background-color: #efefef;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      & img {
        max-width: 100%;
        width: auto;
        height: 100%;
        max-height: 200px;
        object-fit: cover;
      }
    }
  }
}
