@import './Variables.scss';

// #region Display Flex
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-stretch {
    align-items: stretch;
}
// #endregion

// #region Visibility Breakpoints
@media screen and (max-width: $mdToSm) {
    .visible-md-and-up {
        display: none;
    }
}
@media screen and (max-width: $lgToMd) {
    .visible-lg-and-up {
        display: none;
    }
}
// #endregion

// #region Colors
.white {
    background-color: white;
}

.white--text {
    color: white;
}

.primary {
    background-color: $primaryColor;
}

.primary--text {
    color: $primaryColor;
}

.primary-dark {
    background-color: $primaryDarkColor;
}

.dark-gray--text {
    color: $darkGrayColor;
}

.dark-gray {
    background-color: $darkGrayColor;
}

.light-gray--text {
    color: $lightGrayColor;
}

.light-gray {
    background-color: $lightGrayColor;
}

.primary-dark--text {
    color: $primaryDarkColor;
}

.accent {
    background-color: $accentColor;
}

.accent--text {
    color: $accentColor;
}
// #endregion

// #region Text Styles
.font-weight-thin {
    font-weight: 100;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-regular {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-black {
    font-weight: 900;
}

.text-underline {
    display: inline;
}

.text-small-caps {
    font-variant: small-caps;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-line-through-primary {
    text-decoration-line: line-through;
    text-decoration-color: $primaryColor;
}
// #endregion